{% load staticfiles %}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}


input[type=button] {
    background-color: #4C3F50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.caption{
    font-family: times, Times New Roman, times-roman, georgia, serif;
        font-size: 48px;
        line-height: 40px;
        letter-spacing: -1px;
        color: #444;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        font-weight: 100;
}

.delivery_block{
 width: 300px;
 padding: 24px 0 0;
 color: #8c8c8c;
 font-size: 11px;
 }
 .delivery_block .delivery_list {
 padding: 3px 6px 0 6px;
 height: 22px;
 cursor: pointer;
 border-radius: 4px;
 margin: 0 20px 0 0;
 color: #ed4226;
 border: 1px solid #efefef;
 width: 328px;
 z-index: 11;
 background: #fcfcfc;
 }
 .delivery_list #btn {
 background: url({% static 'dropdown.png' %});
 width: 17px;
 height: 18px;
 float: right;
 }
 .delivery_list span {
 padding: 2px 0 0 2px;
 display: block;
 font-weight: bold;
 }
 .delivery_block ul.cities_list {
 margin-top: 0px;
 z-index: 10;
 background: #fcfcfc;
 position: absolute;
 border-radius: 3px;
 width: 342px;
 padding: 0;
 border: 1px solid #eee;
 display: none;
 }
 ul.cities_list li {
 padding: 6px 9px;
 list-style-type: none;
 border-top: 1px solid #efefef;
 }
 ul.cities_list li:hover {
 cursor: pointer;
 background: #fff;
 }
 .delivery_block .delivery_text {
 padding: 3px 5px;
 margin: 5px 0 0 3px;
 }
